body {
    margin: 0;
}

#canvas-1 {
    background: url('./oak_woods_v1.0/background/background_layer_1.png');
    background-size: 100% 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}