body {
    margin: 0;
}

#canvas-1 {
    background: url('stringstar fields/background_0.png');
    background-size: 100% 100%;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    margin-top: 5%;
    display: block;
}